<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753341968693-ihj5tkib187a7qq5mu1789ok5tce2jbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753341968693-ihj5tkib187a7qq5mu1789ok5tce2jbi</string>
	<key>API_KEY</key>
	<string>AIzaSyCo3sGpZ9rI8JYa-5Y9-Ml4fnBsLde40DE</string>
	<key>GCM_SENDER_ID</key>
	<string>753341968693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TomohiroIkeda.memory</string>
	<key>PROJECT_ID</key>
	<string>memory-6bd55</string>
	<key>STORAGE_BUCKET</key>
	<string>memory-6bd55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753341968693:ios:1d211cb825baad13a81c7c</string>
</dict>
</plist>